<div class="card">
    <a href="<%= data.link %>" <%= data.newTab ? 'target="_blank"' : ''%> >
        <div class="card-image">
            <figure class="image is-fullwidth <%= data.square ? "is-1by1" : "is-4by3" %> is-thumbnail">
                <img src="<%= data.image %>" alt="Image">
            </figure>
        </div>
        <div class="card-content">
            <div class="content">
                <p class="title is-4"><%= data.title %></p>
                <%= data.description %> 
            </div>
        </div>
    </a>
</div>