<div class="column is-full-mobile is-one-third-tablet is-3-desktop gallery-image-parent">
        <div class="image grow gallery-image" onclick="openThumbnail('<%= data.image %>', '<%= data.artist.name %>', '<%= data.artist.url %>')">
            <figure class="image is-fullwidth is-4by3 is-thumbnail <%= data.nsfw ? " nsfw-image-container" : ""%>">
                <% if (data.nsfw) { %>
                    <h1 class="title nsfw-warning">NSFW</h1>
                <% } %>
                <img class="<%= data.position + (data.nsfw ? " nsfw-image" : "")%>" src="<%= data.image + (data.nsfw ? "?dim=40" : "?dim=420")%>" alt="Image">
            </figure>
        </div>
</div>