<!doctype html>

<html lang="en">

<head>

    <%- include('components/metatags', {
        title: fursona.name + " - emialis",
        description: fursona.bio,
        image: "https://emialis.com" + fursona.icon
    }) %>

</head>

<body>
    <%- include('components/header', {
        title: fursona.name,
        subtitle: fursona.bio,
        icon: fursona.icon,
        color: fursona.color
    }) %>

    <% fursona.galleries.forEach(gallery => { %>
        <%- include('components/gallery', {
            gallery: gallery
        }) %>
    <% }) %>

    <%- include('components/footer', {
        color: fursona.color
    }) %>

    <%- include('components/imagemodal') %>
</body>

</html>