<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>jaqreven</title>
    <meta name="description" content="jaqreven's personal website fuck yea">
    <meta name="author" content="jaqreven">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/styles.css">

    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <%- include('components/header', {
        title: "jaqreven",
        subtitle: "she/they · epic gamer",
        icon: "/images-compressed/jaqreven/icon.png",
        color: "is-primary"
    }) %>

    <% Object.keys(data).forEach(key => { %>
        <section class="section has-bottom-shadow" id=<%= key %>>
            <div class="container">
                <h1 class="title">
                    <%= data[key].title %>
                </h1>
                <h2 class="subtitle">
                    <%= data[key].subtitle %>
                </h2>
                <%- include('components/cardview', {
                    contentId: key + "-cards",
                    cards: data[key].cards
                }) %>
            </div>
        </section>
    <% }) %>

    <%- include('components/footer', {
        color: "is-primary"
    }) %>

    <script>
        function move(element, back) {
            element.parentElement.parentElement.parentElement.querySelector('.card-view').scrollBy({
                top: 0,
                left: back ? -320 : 320,
                behavior: 'smooth'
            })
        }
        const elements = ["projects-cards", "fursonas-cards", "contacts-cards"];
        elements.forEach(elementId => {
            const element = document.getElementById(elementId);
            console.log(element.scrollWidth + " " + element.parentElement.scrollWidth)
            if (element.scrollWidth <= element.parentElement.scrollWidth) {
                element.parentElement.querySelector(".scroll-button-wrapper").classList.add("is-hidden");
            }
        })
    </script>
</body>

</html>